<div class="row">
  <div class="panel panel-default col-xs-6 center">
    <table class="table">
      <thead>
        <tr>
          <td>Номер анкети</td>
          <td>Вік респондента</td>
          <td>Соціальний статус</td>
          <td>Рівень доходів</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>20</td>
          <td>Студент</td>
          <td>1100</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>

<div class="row">
  <div class=" col-xs-6 ">
    <button type="button" class="btn btn-primary" (click)="randomData()">Редагувати</button>
  </div>
</div>
